.Modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.95);
}

.Modal-close {
  position: absolute;
  right: 2rem;
  top: 2rem;
  background-color: transparent;
  border: 0;
  opacity: 0.75;
  cursor: pointer;
  transition: var(--transition-all);
  z-index: 9;
}

.Modal-close:hover {
  opacity: 1;
}

.Modal-content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  z-index: 1;
}

.Modal-photo {
  margin: 0;
  padding: 0;
  position: relative;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Modal-photo > img {
  flex: 1 0 auto;
  height: 100vw;
  position: relative;
  max-width: 100vw;
  max-height: 100vh;
}

.Modal-photo-toolbar {
  padding: 1.75rem 1.5rem 1.75rem 1.75rem;
  color: var(--white);
  font-size: var(--font-size-lg);
  background-color: rgba(26, 27, 30, 0.9);
  display: flex;
  flex-direction: row;
  align-items: space-between;
  align-self: stretch;
  gap: 1.25rem;
  transform: translateY(-100%);
}

.Modal-photo-toolbar-actions {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  align-items: center;
  flex: 1 0 auto;
  justify-content: flex-end;
}

.Modal-photo-toolbar > figcaption {
  flex: 1 1 auto;
  max-width: 30rem;
}

.Modal-delete,
.Modal-move {
  background-color: transparent;
  border: 0;
  opacity: 0.75;
  cursor: pointer;
  transition: var(--transition-all);
  z-index: 9;
}

.Modal-delete:hover,
.Modal-move:hover {
  opacity: 1;
}

.Modal-album-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0.5rem;
  background-color: var(--white);
  width: 100%;
  max-width: 18rem;
  max-height: 18rem;
  overflow: hidden;
  padding: 0.625rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1),
    0 0.25rem 0.375rem rgba(0, 0, 0, 0.2);
  transform: translateY(-100%);
}

.Modal-album-dropdown ul {
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Modal-album-dropdown li {
  transition: var(--transition-all);
  font-size: var(--font-size-sm);
  color: var(--black);
  font-weight: 600;
  text-align: left;
  padding: 0.625rem;
  cursor: pointer;
  line-height: 1.55;
}

.Modal-album-dropdown li:hover {
  background-color: var(--gray-0);
}

.Modal-album-dropdown p {
  font-size: var(--font-size-xs);
  line-height: 1.55;
  color: var(--gray-6);
  display: inline-flex;
  font-weight: 400;
  flex: 0;
  padding: 0.625rem 0.625rem 1rem;
  border-bottom: 1px solid var(--gray-1);
}

@media (max-width: 768px) {
  .Modal-content {
    justify-content: center;
  }
  .Modal-close {
    top: 1rem;
    right: 1rem;
  }
  .Modal-photo > img {
    height: initial;
    width: 100vw;
  }
}
