.User {
  display: flex;
  flex: 0;
  align-items: center;
  margin: 0 0.625rem;
  border-top: 1px solid var(--gray-1);
  padding: 0.625rem 0;
}

.User-button {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.625rem;
  padding: 0.625rem 0.625rem;
}

.User-avatar {
  width: 2.375rem;
  height: 2.375rem;
  border-radius: 50%;
  background-color: var(--gray-6);
}

.User-info {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}

.User-name {
  font-size: var(--font-size-sm);
  line-height: 1.55;
  white-space: nowrap;
  font-weight: 600;
}

.User-email {
  font-size: var(--font-size-xs);
  color: var(--gray-6);
  white-space: nowrap;
}

.User-chevron {
  flex: 0;
}

@media (max-width: 768px) {
  .User {
    display: none;
  }
}
